*{
	margin: 0;
}

body {
	background: #e9e9e9;
}
.wrapper {
	width: 960px;
	margin: 0 auto;


}


.header {

	width: 1440px;
	height: 30px;
	background: #ffffff;
	color: #b4b4b4;
}

.header ul li{
	margin-right: 10px;
	list-style: none;
	color: #b4b4b4;
	display: inline-block;
	margin-top: 5px;

}

 a {
	text-decoration: none;
	color: #b4b4b4;
}
.header ul {
	margin-left: 120px;

}
.icons {
	float: right;
	
	margin: -15px 230px 0 0;
}
.logo {
	margin: 42px auto;
	

}
.menu {
	height: 33px;
	background: #fff;
	
}
.menu li {
	display: inline-block;
	list-style: none;
	margin-right: 60px;
	font-size: 19px;

}
.sider {
	width: 960px;
	height: 285px;
	background: #fff;
	margin: 15px  0;
	float: left;


}
.sider_img {
	margin: 10px ;

	
}

.sider2 {
	width: 290px;
	height: 285px;
	float: right;


	
}
.sider1 {
	height: 50px;
	margin-top: 10px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #959595;
	float: left;
	
}
.sider22 {
	height: 50px;
	margin-top: 10px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #959595;
	float: left;
	
}
.sider3 {
	height: 50px;
	margin-top: 10px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #959595;
	float: left;
	
}
.sider4 {
	height: 70px;
	margin-top: 10px;

	float: left;
	
}
.sider2 img {
	float: left;
	margin-right: 10px;

}

.sider2 p {
	line-height: 25px;
	font-size: 17px;
	color: #717171;
}


.left_1 {
	height: 310px;
	width: 320px;
	background: #fff;
	overflow: hidden;

}

.left_1 p {
    margin: 10px;
	padding-bottom: 10px;
	padding: 6px;
	font-size: 19px;
	text-transform: uppercase;
	border-bottom: 2px dotted #9f9f9f;
	color: #9f9f9f;
}

.left1_1 {
	width: 300px;
	margin: 5px 10px;
	float: left;
}

.left1_2 {
	width: 300px;
	margin: 5px 10px;
	float: left;

}
.left1_3 {
	width: 300px;
	margin: 5px 10px;
	float: left;
}
.left1_4 {
	width: 300px;
    margin: 5px 10px;
	float: left;
}

.left_2 {
	margin-top: 10px;
	height: 310px;
	width: 320px;
	background: #fff;
}
.left_2 p{
	margin: 10px;
	padding-bottom: 10px;
	padding: 6px;
	font-size: 19px;
	text-transform: uppercase;
	border-bottom: 2px dotted #9f9f9f;
	color: #9f9f9f;
}
.left_1 img {
	float: left;
	padding-right: 10px;
}
.left_2 img {
	float: left;
	padding-right: 10px;
}

.left_3 {
	width: 320px;
	height: 210px;
	background: #fff;
	margin-top: 10px;
	font-size: 14px;
	color: #9f9f9f;
}	

.left_3 p {
	margin: 10px;
	padding-bottom: 10px;
	padding: 6px;
	font-size: 19px;
	text-transform: uppercase;
	border-bottom: 2px dotted #9f9f9f;
	color: #9f9f9f;
}
.coment1 {
	width: 270px;
	height: 24px;
	margin: 5px 10px;
	padding: 5px;
}
.coment2 {
	width: 270px;
	height: 24px;
	margin: 5px 10px;
	padding: 5px;
	
}
.coment3 {
	
	width: 270px;
	height: 24px;
	margin: 5px 10px;
	padding: 5px;
}
.coment4 {
	
	width: 270px;
	height: 24px;
	margin: 5px 10px;
	padding: 5px;
}

.left_4 {
	width: 320px;
	height: 180px;
	background: #fff;
	margin-top: 10px;

}

.left_4 p{
	margin: 10px;
	padding-bottom: 10px;
	padding: 6px;
	font-size: 19px;
	text-transform: uppercase;
	border-bottom: 2px dotted #9f9f9f;
	color: #9f9f9f;

}
.left_4 img {
	background: grey;
	width: 60px;
	height: 50px;
	margin: 5px 10px 10px 10px;

}
.left_5 {
	width: 320px;
	height: 180px;
	background: #fff;
	margin-top: 10px;
	margin-bottom: 140px;

}

.left_5 p{
	margin: 10px;
	padding-bottom: 10px;
	padding: 6px;
	font-size: 19px;
	text-transform: uppercase;
	border-bottom: 2px dotted #9f9f9f;
	color: #9f9f9f;

}
.twıtter_1 {
	padding: 5px;
	margin-left: 5px;
}
.twıtter_2 {
	padding: 5px;
	margin-left: 5px;

}
.left_5 span {
	color: #9f9f9f;
}


.left_sidebar {
	float: left;
	margin-right: 15px; 
}




.mainPost1 {
	width: 430px;
	height:600px;
	background: #fff;
	margin-top: 10px;
	overflow: hidden;
	float: left;
	
}
.mainPost1 p {
	margin: 10px;
	padding: 6px;
	font-size: 9px;
	text-transform: uppercase;
	border-bottom: 2px dotted #9f9f9f;
	color: #9f9f9f;

}



footer	{
	width: 1440px;
	height: 30px;
	background: #ffffff;
	color: #b4b4b4;
	overflow: hidden;


}
footer p {
	margin-left: 240px;

}

.mainPost1 img {
	margin-left: 10px;
	margin-right: 5px; 
	margin-top: -5px;



}
.mainPost1 .h1 {
	font-size: 19px;
	
}
.mainPost1 .mainImg {
	width: 400px;
	height: 260px;
	background: #aaa;
	margin: 10px;

}
.mainPost1 .texter {
	font-size: 14px;
	border: none;
	text-transform: none;
	word-spacing: 3px;
}

